body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../Images/ScreenShot00003.png);
    background-attachment: fixed;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}


.intro{
    width: 50%;
    padding: 10px;
    padding-left: 30px;
    border-radius: 10px;
    background-image: linear-gradient(to right, rgb(93, 210, 101), rgb(193, 189, 169));
    margin-bottom: 20px;
    margin-left: 20px;
    color: rgb(35, 72, 107);
}

.intro h1{
    font-style: italic;
    color: rgb(61, 90, 217);
}

.quiz-container{
    padding: 20px;
    width: 50%;
    height: 50%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(10px);
    border: 2px solid white;
    border-radius: 20px;
}

.quiz{
    width: 100%;
    height: 100%;
}

.quiz .question{
    font-weight: 300;
    font-size: 1.8rem;
    padding-bottom: 30px;
    border-bottom: 2px solid rgb(75, 66, 66);
}

.answer-buttons{
    margin-top: 40px;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 65%;
    justify-content: space-around;
}

.answer-buttons button{
    padding: 20px;
    border: 1px solid white;
    border-radius: 10px;
    text-align: start;
    cursor: pointer;
    font-size: 1rem;
    transition: 0.2s ease;
}

.answer-buttons button:hover:not([disabled]){
    color: white;
    background-color: transparent;
}

.answer-buttons button:disabled{
    cursor: no-drop;
}

.correct{
    background-color: #9aeabc;
    color: white;
}

.incorrect{
    background-color: #ff9393;
    color: white;
}


.result{
    position: fixed;
    top: 80%;
    left: 50%;
    transform: translate(-50%);
    width: 30%;
    height: 10%;
    display: flex;
    justify-content: center;
    gap: 30px;
    
}

.result button{
    width: 120px;
    height: 50px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: 0.2s ease;
}

.retry:hover{
    background-color: red;
    color: white;
}

.next:hover{
    background-color: green;
    color: white;
}


.continue-container{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, .5);
    display: none;
}

.continue{
    position: relative;
    width: 100%;
    height: 100%;
}

.continue div{
    position: absolute;
    width: 50%;
    height: 40%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    border-radius: 10px;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: 1.2rem;
}

.continue h3{
    color: red;
}

.continue div button{
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: 0.2s ease-in;
}

.continue button:hover{
    background-color: rgb(220, 233, 43);
}

@media screen and (max-width: 1300px) {
    body *{
        display: none;
    }

}